<form class="sign" *ngIf="!success" #forgetForm="ngForm" (ngSubmit)="onSubmit()" [touchForm]="forgetForm">
  <h2>
    忘记密码
  </h2>
  <div>
    <div class="input-group">
      <i class="fa fa-envelope-o"></i>
      <input class="input no-radius full block" name="email" placeholder="邮箱"
             [(ngModel)]="user.email" #email="ngModel" isEmail required>
    </div>
    <div *ngIf="email.touched && !email.valid" class="error">
      请填写正确的邮箱
    </div>

    <div class="input-group mt10 mb10">
      <i class="fa fa-key"></i>
      <input class="input no-radius full block" name="captcha" placeholder="图形验证码"
             [(ngModel)]="user.captcha" #captchaCtrl="ngModel" required>
    </div>
    <div *ngIf="captchaCtrl.touched && !captchaCtrl.valid" class="error">
      请输入图形验证码
    </div>

    <div class="captcha clearfix mt10" (click)="getCaptcha()">
      <img [src]="captchaUrl">
      <span>看不清楚，换一张</span>
    </div>

    <div class="input-group">
      <button class="button primary full" type="submit" [btnSaving]="saving">确定</button>
    </div>

    <div class="input-group" style="line-height: .3rem">
      已有账号？<a (click)="onSignin()">立刻前往登录</a>
    </div>
  </div>
</form>
<form class="sign" *ngIf="success">
  <h2>
    忘记密码
  </h2>

  <div class="input-group">
    <button type="button" class="button primary full" (click)="onCancel()">找回密码邮件已发送到您的邮箱，请查收</button>
  </div>
</form>
