<form class="sign" #newPasswordForm="ngForm" (ngSubmit)="onSubmit()" [touchForm]="newPasswordForm">
  <h2>
    设置新密码
  </h2>

  <div class="input-group mt10">
    <i class="fa fa-lock"></i>
    <input class="input no-radius full block" name="password" placeholder="密码"
           [(ngModel)]="user.password" #password="ngModel" isPassword required>
  </div>
  <div *ngIf="password.touched && !password.valid" class="error">
    请输入密码（最小长度6位，最大长度20位）
  </div>

  <div class="input-group mt10">
    <i class="fa fa-lock"></i>
    <input class="input no-radius full block" type="password" name="repassword" placeholder="请再次输入相同密码"
           [(ngModel)]="user.repassword" #repassword="ngModel" [sameTo]="user.password" required>
  </div>
  <div *ngIf="repassword.touched && !repassword.valid" class="error">
    请输入相同密码
  </div>

  <div class="input-group">
    <button class="button primary full" type="submit" [btnSaving]="saving" >设置新密码</button>
  </div>
</form>
