<div class="nav ph20 pv10 border-bottom">
  <a routerLink="/sites/home">我的站点</a>
  <a [routerLink]="['/sites/edit']" [queryParams]="{id:site.id}">{{site.name}}</a>
  <label >APIs</label>

  <a class="fr primary" (click)="onAdd()"><i class="iconfont icon-add"></i> 添加自定义API</a>
</div>

<div class="flex" >
  <div class="border-right" style="width: 2rem;" [ngStyle]="treeStyle">
    <div class="tree" >
      <div class="item" >
        <a (click)="onTreeShowEdited()" [class.active]="tree.activeEdited" >
          <i class="iconfont" [class.icon-triangle-down]="tree.showEdited" [class.icon-triangle-right]="!tree.showEdited"></i>
          自定义API
        </a>
        <ng-template ngFor let-item let-i="index" [ngForOf]="tree.edited" >
          <div class="item" *ngIf="tree.showEdited" (click)="onSelectEdited(item, true)">
            <a class="ml10" [class.active]="item.id === tree.selected.id" >
              {{item.name}}
            </a>
          </div>
        </ng-template>
      </div>
      <div class="item" >
        <a (click)="onTreeShowFound()" [class.active]="tree.activeFound">
          <i class="iconfont icon-attentionfill"></i>
          自动发现API
        </a>
      </div>
    </div>
  </div>
  <div class="full" [ngStyle]="treeStyle">
    <div *ngIf="!tree.selected.id && tree.edited.length === 0" class="gray text-center mt50">
      您还没有自定义API，立即添加 <a (click)="onAdd()">自定义API</a> 吧
    </div>
    <div *ngIf="tree.selected && tree.selected.id" class="p20">
      <div>
        <label class="font-2x">{{tree.selected.name || '（新建）'}}</label>

        <div class="fr mt10">
          <label class="checkbox mr20">
            <input type="checkbox" name="isMock" [(ngModel)]="tree.selected.isMock" (change)="onSaveMock(tree.selected)">
            <span>使用mock</span>
          </label>
          <button *ngIf="!tree.selected.isEdit" class="button primary " (click)="tree.selected.isEdit=true">编辑</button>
          <button *ngIf="!tree.selected.isEdit" class="button " (click)="onDelApi()">删除</button>
          <button *ngIf="tree.selected.isEdit" class="button success" (click)="onSaveApi()" [btnSaving]="saving" >保存</button>
          <button *ngIf="tree.selected.isEdit" class="button" (click)="onCancelEdit()">取消</button>
        </div>
      </div>
      <div class="panel p20">
        <api-edit [api]="tree.selected"></api-edit>
      </div>
      <div class="mt10" *ngIf="tree.selected.isEdit">
        <button class="button success" (click)="onSaveApi()" [btnSaving]="saving" >保存</button>
        <button class="button" (click)="onCancelEdit()">取消</button>
      </div>
    </div>

    <div *ngIf="!tree.selected.id && tree.activeFound" class="p20">
      <label class="font-2x">自动发现API</label>
      <ui-loading *ngIf="loadingFoundApis" class="block mt30" ></ui-loading>
      <div *ngIf="!loadingFoundApis">
        <table class="mb10" style="background-color: #fff">
          <tr>
            <th>url</th>
            <th>方法</th>
            <th>创建时间</th>
            <th >访问次数</th>
            <th>操作</th>
          </tr>
          <ng-template ngFor let-item let-i="index" [ngForOf]="foundApis">
            <tr>
              <td >
                {{item.url}}
              </td>
              <td>
                {{item.method}}
              </td>
              <td >
                {{item.createdAt}}
              </td>
              <td>{{item.visited}}</td>
              <td >
                <a (click)="onEditFound(item)">编辑</a>
              </td>
            </tr>
          </ng-template>
          <tr *ngIf="!foundApis || foundApis.length === 0">
            <td class="text-center" colspan="7">
              暂无数据
            </td>
          </tr>
        </table>
        <div class="text-center mt10">
          <button class="button primary" [disabled]="foundIndex<2" (click)="onLastPage()">上一页</button>
          <button class="button primary" [disabled]="!foundApis || foundApis.length<10" (click)="onNextPage()">下一页</button>
        </div>
      </div>
    </div>
  </div>
</div >
