<style>
  .site-edit .flex>label {
    width: .6rem;
  }
  .input {
    min-width: 3rem;
  }
  .input.short {
    min-width: 1rem;
  }
</style>

<div class="p20">
  <div class="nav">
    <a routerLink="/sites/home">我的站点</a>
    <label *ngIf="!id">新建</label>
    <label *ngIf="id">编辑</label>
  </div>
  <ui-loading *ngIf="loading" class="block mt30" ></ui-loading>
  <form class="panel site-edit mt10 p20"  #myForm="ngForm" (ngSubmit)="onSubmit()" [touchForm]="myForm" *ngIf="!loading">
    <div class="flex mb10">
      <label class="required">站名</label>
      <div class="flex">
        <div class="mr10">
          <input class="input" name="name" [(ngModel)]="site.name" required placeholder="您的站点名称">
          <div *ngIf="formErrors.name" class="error">
            请填写站名
          </div>
        </div>
        <div>
          <input class="input" name="subdomain" [(ngModel)]="site.subdomain" placeholder="子域名，缺省空为网关域名">
          {{domain}}
        </div>
      </div>
    </div>
    <div class="flex mb10">
      <label>proxy</label>
      <div class="flex">
        <div class="mr10">
          <input class="input" name="proxyKey" [(ngModel)]="site.proxyKey" placeholder="代理url，例如： /api" proxyKey>
          <div *ngIf="formErrors.proxyKey" class="error">
            代理url必须为“/”+“字母或数字”格式，并且有且仅有一个“/”在开头。
          </div>
        </div>
        <div>
          <input class="input" name="proxyValue" [(ngModel)]="site.proxyValue" isUrl
                 placeholder="代理地址，例如： https://www.domain.com/api">
          <div *ngIf="formErrors.proxyValue" class="error">
            代理地址必须以http://或https://开头
          </div>
        </div>
      </div>
    </div>
    <div class="flex mb10">
      <label>gzip</label>
      <label class="checkbox">
        <input type="checkbox" name="gzip" [(ngModel)]="site.gzip" >
        <span>gzip</span>
      </label>
    </div>
    <div class="flex mb10">
      <label>https</label>
      <div>
        <label class="radio mr20">
          <input type="radio" name="https" [(ngModel)]="site.https" value="">
          <span>None</span>
        </label>

        <label class="radio mr20">
          <input type="radio" name="https" [(ngModel)]="site.https" value="tls">
          <span>TLS</span>
        </label>

        <label class="radio">
          <input type="radio" name="https" [(ngModel)]="site.https" value="letsencrypt">
          <span>Letsencrypt</span>
        </label>
      </div>
    </div>
    <div class="flex mb10">
      <label>描述</label>
      <textarea class="input full" name="desc" rows="3" [(ngModel)]="site.desc" ></textarea>
    </div>
    <div class="flex mb10">
      <label></label>
      <div>
        <button class="button primary" [btnSaving]="saving" >保存</button>
        <a class="button " routerLink="/sites/home">取消</a>
      </div>
    </div>
  </form >
</div>
