<style>
  .site-edit .flex>label {
    width: .6rem;
  }
  .input {
    min-width: 3rem;
  }
  .input.short {
    min-width: 1rem;
  }
</style>

<div class="p20">
  <div class="nav">
    <a routerLink="/sites/home">我的站点</a>
    <label *ngIf="!id">新建</label>
    <label *ngIf="id">编辑</label>
  </div>
  <ui-loading *ngIf="loading" class="block mt30" ></ui-loading>
  <form class="panel site-edit mt10 p20"  #myForm="ngForm" (ngSubmit)="onSubmit()" [touchForm]="myForm" *ngIf="!loading">
    <div class="flex mb10">
      <label class="required">站名</label>
      <div>
        <input class="input" name="name" [(ngModel)]="site.name" required placeholder="您的站点名称">
        <div *ngIf="formErrors.name" class="error">
          请填写站名
        </div>
      </div>
    </div>
    <div class="flex mb10">
      <label>域名</label>
      <div>
        <input class="input" name="domain" [(ngModel)]="site.domain" placeholder="缺省为localhost">
      </div>
    </div>
    <div class="flex mb10">
      <label>gzip</label>
      <label class="checkbox">
        <input type="checkbox" name="gzip" [(ngModel)]="site.gzip" >
        <span>gzip</span>
      </label>
    </div>
    <div class="flex mb10">
      <label>https</label>
      <div>
        <label class="radio mr20">
          <input type="radio" name="https" [(ngModel)]="site.https" value="">
          <span>None</span>
        </label>

        <label class="radio mr20">
          <input type="radio" name="https" [(ngModel)]="site.https" value="tls">
          <span>TLS</span>
        </label>

        <label class="radio">
          <input type="radio" name="https" [(ngModel)]="site.https" value="letsencrypt">
          <span>Letsencrypt</span>
        </label>
      </div>
    </div>
    <div class="flex mb10">
      <label>404</label>
      <div class="flex mb10">
        <div class="mr10">
          <input class="input short" name="notFoundCode" [(ngModel)]="site.notFound.code" placeholder="状态码">
        </div>
        <div>
          <input class="input" name="notFoundPath" [(ngModel)]="site.notFound.path" placeholder="本地文件，例如： /usr/local/html/assets/404.html">
        </div>
      </div>
    </div>
    <div class="flex mb10">
      <label>静态资源</label>
      <div>
        <div *ngFor="let item of site.statics;let i = index" class="flex mb10">
          <div class="mr10">
            <input class="input short" name="staticUrl{{i+1}}" [(ngModel)]="item.url" placeholder="访问url，例如： /assets/" required>
            <div *ngIf="formErrors['staticUrl'+(i+1)]" class="error">
              请填写静态资源访问url
            </div>
          </div>
          <div class="mr10">
            <input class="input" name="staticPath{{i+1}}" [(ngModel)]="item.path"
                   placeholder="静态资源文件目录，例如： /usr/local/html/assets/" required>

            <div *ngIf="formErrors['staticPath'+(i+1)]" class="error">
              请填写静态资源文件目录
            </div>
          </div>

          <a class="ml5" (click)="site.statics.splice(i,1);">删除</a>

        </div>
        <div class="flex mb10">
          <div class="mr10">
            <input class="input short" name="staticUrl" [(ngModel)]="staticUrl" placeholder="访问url，例如： /assets/">
          </div>
          <div>
            <input class="input" name="staticPath" [(ngModel)]="staticPath" placeholder="静态资源路径，例如： /usr/local/html/assets/">
          </div>
        </div>
        <div>
          <button type="button" class="button success mr10" [disabled]="!staticUrl || !staticPath" (click)="onAddStatic()">新增</button>
          <label class="gray"> 以 / 结尾表示路径匹配； 非 / 结尾表示精确匹配</label>
        </div>
      </div>
    </div>
    <div class="flex mb10">
      <label>proxy</label>
      <div>
        <div *ngFor="let item of site.proxies;let i = index" class="flex mb10">
          <div class="mr10">
            <input class="input short" name="proxyUrl{{i+1}}" [(ngModel)]="item.url" placeholder="代理url，例如： /api/" required>
            <div *ngIf="formErrors['proxyUrl'+(i+1)]" class="error">
              请填写代理url
            </div>
          </div>
          <div>
            <input class="input" name="proxyPath{{i+1}}" [(ngModel)]="item.path" isUrl
                   placeholder="代理地址，例如： https://api.domain.com/proxy/api/" required>
            <div *ngIf="formErrors['proxyPath'+(i+1)]" class="error">
              请填写代理地址，以http://或https://开头
            </div>
          </div>


          <a class="ml5" (click)="site.proxies.splice(i,1);">删除</a>
        </div>
        <div class="flex mb10">
          <div class="mr10">
            <input class="input short" name="proxyUrl" [(ngModel)]="proxyUrl" placeholder="代理url，例如： /api/">
          </div>
          <div>
            <input class="input" name="proxyPath" [(ngModel)]="proxyPath" isUrl
                   placeholder="代理地址，例如： https://api.domain.com/proxy/api/">
            <div *ngIf="formErrors.proxyPath" class="error">
              代理地址必须以http://或https://开头
            </div>
          </div>

        </div>
        <div>
          <button type="button" class="button success mr10" [disabled]="!proxyUrl || !proxyPath" (click)="onAddProxy()">新增</button>
          <label class="gray"> 以 / 结尾表示前缀路径匹配； 非 / 结尾表示精确匹配。注意：代理url将会被代理地址替换</label>
        </div>
      </div>
    </div>
    <div class="flex mb10">
      <label>描述</label>
      <textarea class="input full" name="desc" rows="3" [(ngModel)]="site.desc" ></textarea>
    </div>
    <div class="flex mb10">
      <label></label>
      <div>
        <button class="button primary" [btnSaving]="saving" >保存</button>
        <a class="button " routerLink="/sites/home">取消</a>
      </div>
    </div>
  </form >
</div>
