<div class="flex" [ngStyle]="myStyle">
  <div class="panel-menu">
    <div class="item" routerLinkActive="active" >
      <a routerLink="/sites" class="hidden" hidden></a>
      <a routerLink="/sites/home">
        <i class="iconfont icon-website"></i>
        <div>站点</div>
      </a>
    </div>
    <div class="item">
      <a>
        <i class="iconfont icon-report"></i>
        <div>监控</div>
      </a>
    </div>
    <div class="item">
      <a>
        <i class="iconfont icon-plan"></i>
        <div>计划</div>
      </a>
    </div>
    <div class="item">
      <a>
        <i class="iconfont icon-safe"></i>
        <div>授权</div>
      </a>
    </div>
    <div class="item">
      <a>
        <i class="iconfont icon-repair"></i>
        <div>发布</div>
      </a>
    </div>
    <div class="item">
      <a>
        <i class="iconfont icon-attention"></i>
        <div>测试</div>
      </a>
    </div>
    <div class="item">
      <a>
        <i class="iconfont icon-list-ul"></i>
        <div>历史</div>
      </a>
    </div>
    <div class="item">
      <a>
        <i class="iconfont icon-text"></i>
        <div>文档</div>
      </a>
    </div>
    <div class="item">
      <a>
        <i class="iconfont icon-friend"></i>
        <div>团队</div>
      </a>
    </div>
  </div>
  <div class="full p20 text-left">
    <div style="min-height: 5.7rem">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

