<div class="flex">
  <div class="full" >
    <div class="border-bottom mb10">
      <div style="font-size: .16rem">我的站点</div>
      <a class="fr button primary" style="margin-top: -.32rem">+ 添加</a>
    </div>

    <div class="flex wrap">
      <div class="card mr20">
        <div class="head flex">
          <div class="img"><img src="https://coding.net/static/project_icon/scenery-12.png"></div>
          <div class="full">
            <div class="caption" title="web前端">web前端</div>
            <div class="desc"><a class="gray" href="http://www.cloudtogo.cn" target="_blank">www.cloudtogo.cn</a></div>
          </div>
        </div>
        <div class="desc">前端静态资源发布</div>
        <div class="footer">
          <div class="full">
            <i class="dot primary"></i> 运行中...
          </div>
          <div class="text-right nowrap">
            <a class="success mr5"><i class="iconfont icon-pause"></i> 暂停</a>
            <a class="success mr5"><i class="iconfont icon-edit"></i> 编辑</a>
            <a class="success"><i class="iconfont icon-close"></i> 删除</a>
          </div>
        </div>
      </div>
      <div class="box dash box-card">
        <a class="content">
          <i class="iconfont icon-add"></i>
          <div class="ml5"> 添加 </div>
        </a>
      </div>
    </div>
  </div>
  <div class="right-side ml30">
    <div class="panel ph15 pv10">
      <div class="caption">动态</div>
      <div class="text-center text-desc mt30 mb30">
        暂无动态
      </div>
    </div>
  </div>
</div>
